.sectionMap {
  flex-direction: column;
  padding: 20px;
  background-color: var(--gray-50);
  box-shadow: 0px 0px 40px 0px var(--box-shadow);
  width: 100%;
  display: flex;
  border-radius: 16px;
}
  
.sectionMapTabList {
  margin-block-end: 20px;
}

.sectionMapAdressBlock {
  max-width: 378px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionMapTextMargin{
  margin: 0 0 20px 0;
}

.sectionMapTabList {
  width: 304px;
  height: 48px;
  padding: 2px;
  display: flex;
  gap: 2px;
  border-radius: 64px;
}

.sectionMapTabTrigger {
  display: inline-block;
  width: 50%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 64px;
  padding: 14px 14px 10px;
  user-select: none;
}

.sectionMapTabTrigger:hover {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .25s;
}


.YMapBlock {
  width: 100%;
  height: 304px;
}

.YMapBlock iframe {
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .sectionMapAdressBlock {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionMapAdressTime {
    min-width: 220px;
  }

  .sectionMapDescript {
    max-width: 500px;
  }
  
  .sectionMapTabList {
    margin-block-end: 40px;
    width: 387px;
  }

  .YMapBlock {
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionMap {
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }
  
  .sectionMapTextMargin{
    margin: 0 126px 20px 0;
  }

  .sectionMapAdressBlock {
    max-width: 378px;
    flex-direction: column;
    gap: 40px;
  }
}