.headerNavMenuListLink.dropDownCustomToogle {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu {
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 4px;
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  background-color: var(--background-white-opacity-75, rgba(255, 255, 255, 0.75));
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 16px;
  overflow: hidden;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  color: var(--brand-secondary, #746C7B);
  background-color: var(--background-white-opacity-30, rgba(255, 255, 255, 0.3));
  text-decoration: none;
  opacity: 1;
}


@media screen and (min-width: 992px) {
  .dropdown-menu.show {
    display: block;
  }
}