.sectionCallback {
  background-color: var(--gray-600);
}

.sectionCallbackTitleBlock {
  gap: 20px;
  max-width: 500px;
}


.sectionCallbackTextTitle {
  color: var(--gray-50, #FFF);
  font-family: "Gotham Pro";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  text-transform: uppercase;
}

.sectionCallbackTextColor {
  color: var(--gray-50, #a12929);
}

.sectionCallbackLabel {
  color: var(--gray-50, #FFF);
  font-family: var(--global-text-font, "PT Sans");
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-inline-start: 24px;
  padding-block-end: 4px;
}

.sectionCallbackLabel[for="callbackForm_phone"] {
  padding-inline-start: 16px;
}

.sectionCallbackInputName {

  border: 1px solid var(--gray-150, #EAEAEA);
  background: var(--gray-50, #FFF);
  color: var(---brand-secondary, #746C7B);
  font-family: var(--global-text-font, "PT Sans");
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Phone Input */
.phoneInputContainer>.phoneInputInput {
   border: 1px solid var(--gray-150, #EAEAEA);
  background: var(--gray-50, #FFF);
  color: var(---brand-secondary, #746C7B);
  font-family: var(--global-text-font, "PT Sans");
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.phoneInputContainer>.phoneInputBtn {
  border: 1px solid var(--gray-150, #EAEAEA);
  background: var(--gray-50, #FFF) !important;
}

.phoneInputBtn>.phoneInputDropDown {
  border-radius: 16px;
  top: 30px;
}

@media screen and (min-width: 768px) {
  .sectionCallback {
    padding: 40px;
    gap: 50px;
  }

  .sectionCallbackTitleBlock {
    max-width: none;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
  }

  .sectionCallbackTitleBlock h3 {
    margin-bottom: 8px;
  }
}



@media screen and (min-width: 1024px) {
  .sectionCallback {
    gap: 72px;
  }

  .sectionCallbackForm {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;
  }

  .sectionCallbackForm fieldset {
    width: 100%;
    flex-direction: row;
    gap: 32px
  }

  .sectionCallbackForm fieldset>div {
    width: 100%;
  }

  .SectionCallbackSubmitBtn {
    width: 177px;
  }
}