.sectionCallback {
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 16px;
  padding: 20px;
}

.sectionCallbackTitleBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionCallbackForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.sectionCallbackForm fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 0 16px;
  gap: 16px;
}

.sectionCallbackLabel {
  display: block;
}

.sectionCallbackInputName {
  width: 100%;
  height: 56px;
  display: flex;
  padding: 0 24px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
}

.sectionCallbackInputPhone {
  display: flex;
  flex-direction: row;
}

/* Phone Input */
.phoneInputContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.phoneInputContainer>.phoneInputInput {
  width: 100%;
  display: flex;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 40px !important;
}

.phoneInputContainer>.phoneInputBtn {
  position: relative;
  display: flex;
  width: 120px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 4px;
  border-radius: 40px !important;
}

.phoneInputBtn>.phoneInputDropDown {
  border-radius: 16px;
  top: 30px;
}

@media screen and (min-width: 768px) {
  .sectionCallback {
    padding: 40px;
    gap: 50px;
  }

  .sectionCallbackTitleBlock {
    max-width: none;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
  }

  .sectionCallbackTitleBlock h3 {
    margin-bottom: 8px;
  }
}

.sectionCallbackSocialLinks {
  gap: 8px;
}


@media screen and (min-width: 1024px) {
  .sectionCallback {
    gap: 72px;
  }

  .sectionCallbackForm {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

  .sectionCallbackForm fieldset {
    width: 100%;
    flex-direction: row;
    gap: 32px
  }

  .sectionCallbackForm fieldset>div {
    width: 100%;
  }

  .SectionCallbackSubmitBtn {
    width: 177px;
    margin-block-start: 2px;
  }
}