.footer {
  background-color: var(--gray-600, #555);
}

.footerText {
  color: var(--gray-50, #fff);
}

.footerTitle {
  color: var(--gray-50, #fff);
  font-family: "Gotham Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.footerLinkList {
  color: var(--gray-50, #fff);
  font-family: "Gotham Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerNavList {
  color: var(--gray-50, #fff);
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footerBottomWrapper {
  border-top: var(--gray-50, #fff) 1px solid;
}

.footerStroyhouseLogo {
  background: var(--gray-50, #fff);
  background: url("../../../../public/companyLogo/LogoStroyhouse_brus_white.svg") 
}

@media screen and (min-width: 768px) {
  .footerTitle {
    font-size: 34px;
    line-height: 40px;
  }
}