.commonBtn {
  max-width: 303px;
  width: 100%;
  border-radius: 64px;
  border: 1px solid var(--gray-50, #fff);
  background: var(--brand-terry, #7c9373);
  color: var(--gray-50, #fff);

  font-family: var(--global-title-font, "Gotham Pro");
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  cursor: pointer;
}

.commonBtnSizeMedium {
  height: 48px;
  padding: 14px 48px 10px 48px;
}

.commonBtnSizeLarge {
  height: 48px;
  padding: 14px 48px 10px 48px;
}

.commonBtn:hover {
  background-color: var(--brand-terry-opacity-90);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .25s;;
}

.commonBtn:active {
  background-color: var(--brand-terry-opacity-80);
}