.headerBackground {
  background-color: var(--background-white-opacity-75, rgba(255, 255, 255, 0.75));
  backdrop-filter: blur(5px);
}



.headerLogo {
  background-image: url("../../../../public/companyLogo/LogoStroyhouse_brus.svg");
}