.header {
  max-width: 1472px;
  width: calc(100% - 32px);
  height: 56px;
  padding: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.headerBackground {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 48px;
}

.headerLogo {
  display: block;
  width: 115.2px;
  height: 36px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-inline-start: 16px;
}

.headerBtnsBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerQuestionBtn {
  display: none;
}

.headerNavMenuListLink {
  display: block;
  max-width: 343px;
  width: 100%;
  padding: 14px 16px 10px 16px;
  border-radius: 64px;
}

@media (hover: hover) and (pointer: fine) {
  .headerNavMenuListLink {
    transition-timing-function: ease;
    transition-duration: .8s;
  }
  
  .headerNavMenuListLink:hover {
    opacity: 1;
    transition-property: background-color opacity;
    background-color: var(--background-white-opacity-85, rgba(255, 255, 255, 0.85));
  }
}

.headerNavMenuListLink:active {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 128px);
    height: 82px;
    padding: 16px 32px;
  }

  .headerLogo {
    width: 160px;
    height: 50px;
    margin-inline-start: 0;
  }

  .headerBtnsBlock {
    display: flex;
    gap: 20px;
  }

  .headerQuestionBtn {
    display: block;
    width: 210px;
  }

  .headerRoundBtnMenu {
    order: 1;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 16px 24px;
  }

  .headerQuestionBtn {
    padding: 12px 24px 10px;
  }
}

@media screen and (min-width: 992px) {
  .headerBtnsBlock {
    width: 100%;
    gap: 12px;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .headerBtnsBlock {
    gap: 32px;
  }
}