.sectionPortfolio {
  box-shadow: 0px 0px 40px 0px var(--box-shadow);
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  padding: 20px;
}

.portfolioImgWrapper {
  width: 100%;
  height: fit-content;
  font-size: 0;
}

.portfolioImg {
  width: 100%;
  height: auto;
  aspect-ratio: 303 / 220;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.sectionPortfolioText {
  display: flex;
  flex-direction: column;
}

.sectionPortfolioList {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  .sectionPortfolio {
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px;
  }
  
  .sectionPortfolioText{
    gap: 40px;
  }

  .sectionPortfolioTitle{
    margin-block-end: 32px;
  }

  .portfolioImgWrapper {
    width: auto;
  }

  .portfolioImg {
    max-width: 606px;
  }

  .sectionPortfolioText {
    max-width: 497px;
  }

  .sectionPortfolioBtn {
    width: 161px;
  }
}