.sectionAboutCompanyPreTitle {
  color: var(--brand-secondary, #746C7B);
  font-family: "Gotham Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.sectionAboutCompanyText {
  font-style: italic;
}


@media screen and (min-width: 768px) {
  .sectionAboutCompanyTitle {
    font-size: 34px;
    line-height: 118%;
  }
}