.sectionAboutCompany {
  background-color: var(--gray-50);
  box-shadow: 0px 0px 40px 0px var(--box-shadow);
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  padding: 20px;
}

.sectionAboutCompanyTextWrapper {
  max-width: 407px;
}

.sectionAboutCompanyTitle {
  max-width: 300px;
  height: 104px;
}

.sectionAboutSliderContainer {
  height: 306px;
  background-color: rgba(0, 0, 0, 0.1);
  
  gap: 20px;
  overflow: hidden;
}

.sectionAboutCompanySliderNav {
  width: calc(100% + 52px);
}

.sectionAboutCompanySliderNav::after {
  right: 51px;
  top: 0;
  transform: rotateZ(180deg);
}

.sectionAboutCompanySliderNav::after {
  background: linear-gradient(to right, var(--gray-50), rgba(255, 255, 255, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
  pointer-events: none;
  touch-action: none;
}


.sectionAboutCompanySliderNav>div>div>div {
  padding-inline-end: 16px;
}

@media screen and (min-width: 768px) {
  .sectionAboutSliderContainer {
    max-width: 608px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionAboutCompany {
    flex-direction: row;
  }
}