.sectionContragents {
  background-color: var(--gray-100);
}

.sectionContragents>h3 {
  color: var(--Brand-Secondary, #746C7B);
}

.sectionContragentsBrandLogo {
  box-shadow: 0px 0px 20px 0px var(--box-shadow);
  filter: grayscale(100%);
}