.sectionRulesTitle {
  color: var(--brand-secondary, #746C7B);
  font-family: "Gotham Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .sectionRulesTitle {
    font-size: 34px;
    line-height: 40px;
  }
}


@media screen and (min-width: 1024px) {
  .sectionRulesTitle {
    max-width: 300px;
  }
}

@media screen and (min-width: 1040px) {
  .sectionRulesTitle {
    max-width: 100%;
  }
}
