.sectionRulesTitle {
  width: 100%;
  text-align: left;
  color: var(--Brand-Secondary, #746C7B);
}

@media screen and (min-width: 768px) {
  .sectionRulesTitle {
    max-width: 280px;
    position: absolute;
    top: 33px;
    left: 55%;
    line-height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .sectionRulesTitle {
    max-width: 100%;
    left: 18%;
    text-align: center;
  }
}