.ruleCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rulesImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

.ruleCardTextBlock {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.ruleCardTitle {
  max-width: 350px;
}


@media screen and (min-width: 768px) {
  .ruleCard {
    flex-direction: row;
    justify-content: space-between;
  }

  .rulesImg {
    max-width: 427px;
  }
  
  .ruleCardTextBlock {
    max-width: 537px;
    margin-block-start: 187px;
    margin-inline-end: 111px;
  }
  
    .ruleCardTitle {
      max-width: 100%;
    }
}