.rulesImg {
  display: block;
  width: 100%;
  height: 20px;
  object-fit: cover;
}

/* .rulesPaginationBase {
  background-color: green;
}

.rulesPaginationWrapper {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}

.rulesPaginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
} */