.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--gray-600, #555);
  border-radius: 16px 16px 0 0;
  padding: 16px;
}

.footerText {
  color: var(--gray-50, #fff);
}

.footerTopWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerTopWrapper>div {
  max-width: 343px;
}

.footerTitle {
  color: var(--gray-50, #fff);
  padding-bottom: 20px;
}

.footerLinkList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100px;
  flex-wrap: wrap;
  list-style: none;
  color: var(--gray-50, #fff);
  font-family: "Gotham Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerNavList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-height: 100px;
  flex-wrap: wrap;
  list-style: none;
  color: var(--gray-50, #fff);
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.footerContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerContactsBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto 1fr;
  gap: 10px;
}

.footerContactsAddress {
  grid-column: span 2;
}

.footerBottomWrapper {
  width: 100%;
  border-top: var(--gray-50, #fff) 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footerBottomWrapper>div {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerStroyhouseLogo {
  display: block;
  width: 213px;
  height: 67px;
  background: var(--gray-50, #fff);
  background: url("../../../../../public/companyLogo/LogoStroyhouse_brus_white.svg") no-repeat center;
  background-size: contain;
}

.segezhaLogo {
  display: block;
  width: 117.808px;
  height: 40px;
  background: var(--gray-50, #fff) no-repeat center;
  mask-image: url("../../../../../public/companyLogo/segezha.svg");
  background-size: contain;
}

.associationLogo {
  display: block;
  width: 40px;
  height: 40px;
  background: var(--gray-50, #fff) no-repeat center;
  mask-image: url("../../../../../public/companyLogo/add.svg");
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 64px;
    gap: 61px
  }

  .footerTopWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .footerTopWrapper>div {
    max-width: 100%;
  }

  .footerTopWrapper>div:first-child {
    max-width: 500px;
    grid-column: 1 / span 2;
  }

  .footerTitle {
    padding-bottom: 62px;
  }

  .footerLinkList {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footerNav {
    gap: 24px;
  }

  .footerNavList {
    flex-direction: column;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .footerContacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footerContactsBlock {
    gap: 24px;
  }

  .footerBottomWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto auto;
    gap: 16px;
    padding-bottom: 40px;
  }

  .footerBottomWrapper>div {
    gap: 16px;
  }

  .footerBottomWrapper>div:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    max-width: 100%;
  }

  .footerBottomWrapper>div:nth-child(3),
  .footerBottomWrapper>div:nth-child(4) {
    grid-row: span 2;
  }
}