.sectionQuote {
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(20px, min(calc(100vw - 1203px), 237px));
  border-radius: 16px;
  padding: 20px;
}

.blockquote {
  max-width: 497px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ownerSignature {
  width: 209px;
  object-fit: cover;
  align-self: flex-end;
}

.ownerImgContainer {
  max-width: 400px;
}

.ownerImg {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  object-fit: cover;
  fill: var(--gray-150, #eaeaea);
}

@media screen and (min-width: 768px) {
  .sectionQuote {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .blockquote {
    gap: 72px;
  }

  .ownerImgContainer {
    max-width: 276px;
  }

  .ownerImgFigcaption {
    margin-block-start: 10px;
  }
}


