.sectionCallback {
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: var(--gray-600);
  border-radius: 16px;
  padding: 20px;
}

.sectionCallbackTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionCallbackTitleBlock h3 {
  margin-bottom: 10px;
}

.sectionCallbackTextColor {
  color: var(--gray-50, #fff);
}

.socialLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

.socialLinks > li {
  width: 44px;
  height: 44px;
  background-color: var(--gray-50, #fff);
  border-radius: 8px;
}

.sectionCallbackForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionCallbackForm fieldset{
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}

.sectionCallbackInputPhone {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .sectionCallbackTitleBlock {
    flex-direction: row;
  }
}
