.rulesImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  aspect-ratio: 343 / 335;
  cursor: grab;
}

@media screen and (min-width: 427px) {
  .rulesImg {
    aspect-ratio: 303 / 170;
  }
}

@media screen and (min-width: 1024px) {
  .rulesImg {
    aspect-ratio: 427 / 426;
  }
}