.sectionTitle {
  width: 100%;
  height: 520px;
  background-color: #525a3f;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 24px;
  border-radius: 0 0 16px 16px;
  padding: 24px 16px;
  background-image: url('../../../../../public/images/welcomeHouse.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionTitle h1 {
  align-self: flex-start;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    height: 820px;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 0;
    padding: 64px;
  }

  .sectionTitle h1 {
    align-self: end;
    max-width: 100%;
  }

  .sectionTitleBtnSize {
    width: 230px;
  }
}